body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #2f4f4f;
	padding: 20px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 99px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family:popins,sans-serif;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
nav .fa{
    display: none;

}
nav a:hover {
	/* background-color: #fff; */
	color: #2f4f4f;
}

.hero {
	text-align: center;
	color: #fff;
	padding: 50px;
}

.hero h1 {
	font-size: 3rem;
	margin-top: 0;
}

.hero p {
	font-size: 1.2rem;
	margin-bottom: 30px;
}

.button {
	background-color: #fff;
	color: #2f4f4f;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #2f4f4f;
	color: #fff;
}

main {
	padding: 20px;
}

.deals {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/*  */
/*  */
/* i change the margin to 10px from 20px */
.deals article {
	margin: 10px; 
	border: 1px solid #ddd;
	padding: 8px;
	max-width: 300px;
	text-align: center;
}

.deals img {
	width: 100%;
	margin-bottom: 10px;
}

.odeals{
    color: whitesmoke;
}

.deals h3 {
	margin-top: 0;
	font-size: 1.5rem;
}



/* style from bmc website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* footer */

/* footer{
    background-color: black;
    width: 100%;
    padding: 10px 50px;
  
}
footer p{
    color: whitesmoke;
} */

footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    
    padding: 10px 50px;
  
}
footer p{
    color: whitesmoke;
}




@media (max-width:700px){
    .text-box h1{
        font-size: 30px;
    }
    nav ul{
        display: none;
    }
    /* .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: -500px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    } */

    body{
        margin-bottom: 165px;
    }
    footer{
        display:none;
        padding: 10px 10px;
        margin-bottom: 50px;
    }
   
  

}

/* the above i change the footer to display none  */


/* afa */
#row{
    display: none;
    background-color: grey;
    color: whitesmoke;
}
#row li {
    width: 30px;
    color: whitesmoke;
}
.fa-solid{
    font-size: 30px;
}

#row li img{
    color: white;
}

@media(max-width:700px){
    #fixed{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    #row{
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
        /* position: fixed;
        bottom: 0; */
    }
    #row li{
        list-style-type: none
    }
    .fa-solid{
        font-size: 30px;
        color: whitesmoke;
    }
    .fa-solid:hover{
        color: red;
    }
    .fa-solid:active{
        color: red;
    }

    
}


/* deals.html */

#odealshome{
  
    position: fixed;
    bottom: 50px;
    right: 50px;
}
li{
    list-style: none;
}
.fa-house{
    display: block;
    width: 10px;
    height: 10px;
    color: red;
}

/* telegram */

#telegram{
  
    position: fixed;
    bottom: 100px;
    right: 50px;
}
li{
    list-style: none;
}
.fa-telegram{
    display: block;
    width: 10px;
    height: 10px;
    color: #0088cc;
}

#index{
    margin-bottom: 15px;
}